.row {
  border: 0px solid grey;
  border-radius: 10px;
  padding: 20px;
  width: 60vw;
  background-color: gainsboro;
  position: relative;
  -webkit-box-shadow: 0 2px 2px #797474;
  box-shadow: 0 2px 2px #012706a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  margin-top: 2vh;
}

.row .row__rowContent {
  padding: 40px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.row img {
  width: 15%;
  max-height: 50%;
  clip-path: circle();
}
.row__rowContentBottom {
  position: absolute;
  bottom: 5%;
}
.row__rowContentBottom > p {
  background-color: rgba(228, 228, 228, 0.288);
  padding: 4px;
  border-radius: 6px;
  display: inline-block;
  margin-right: 10px;
  border: 1px solid rgba(161, 157, 157, 0.226);
  margin-top: 8px;
}
.row__rowContentBottom > p:hover {
  background-color: rgba(155, 155, 155, 0.288);
  cursor: pointer;
}

.row__bottom {
  border: 0px solid black;
  margin-right: 10px;
}
.row__rowContentName {
  position: absolute;
  top: 10%;
  text-decoration: none;
  font-size: 20px;
  color: #797474;
}
.row__rowContentName:hover {
  color: #141111;
}
.row_rowContentDescription {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
